/* ~~~~~~~~~~ General Styling ~~~~~~~~~~ */

html, body {
  height: 100%;
  width: auto;
}

html {
  color: #e8e5dc;
  background-color: #141414;
  font-size: 18px;
  font-family: serif;
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 2rem;
  align-self: center;
}

h2 {
  font-size: 1.75rem;
  padding-top: .5rem;
}

h3 {
  font-size: 1.2rem;
  padding-top: .25rem;
}

p {
  padding-top: .5rem;
}

strong {
  font-weight: bold;
}

/* ~~~~~~~~~~ scrollbar Styling (Chrome, Safari and Opera only) ~~~~~~~~~~ */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5a5a5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #424242;
}

/* ~~~~~~~~~~ Header Styling ~~~~~~~~~~ */

header {
  box-sizing: border-box;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

header h1 {
  text-align: center;
  cursor: pointer;
  font-size: 3rem;
  flex: 1 1 50%;
}

header img {
  display: none;
  height: 75%;
  width: auto;
}

/* ~~~~~~~~~~ Container Styling ~~~~~~~~~~ */

#container {
  height: 90%;
  margin: 0 12px 12px 12px;
  display: flex;
}

/* ~~~~~~~~~~ Menu Styling ~~~~~~~~~~ */

#menu {
  background-color: #424242;
  border-radius: 12px;
  padding: 1rem 1rem 2rem 1rem;
  overflow-y: scroll;
  flex: 0 1 27.5%;
}

#menu h3, #menu h2 {
  width: max-content;
  cursor: pointer;
}

#menu a {
  color: inherit;
}

#menu .list {
  display: none;
}

#menu h3 {
  margin-left: .5rem;
  color: #b9b7b0;
}

#menu h3:hover {
  text-decoration: underline;
}

#menu .notVisited:hover {
  text-decoration: none;
}

#menu h4 {
  margin: .5rem 0 0 .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #d0cec6;
}

#menu .list div h3 {
  margin-left: 1rem;
}

#menu .list h3:nth-child(even) {
  color: #a2a09a
}

/* ~~~~~~~~~~ Content Styling ~~~~~~~~~~ */

#content {
  color: #141414;
  background-color: #a1a1a1;
  padding: 1rem 1rem;
  overflow-y: scroll;
  flex: 1 1 72.5%;
}

/* ~~~~~~~~~~ Hover Styling ~~~~~~~~~~ */

#hover {
  color: #141414;
  background-color: #e8e5dc;
  padding: .5rem;
  position: absolute;
  display: none;
  border-radius: 5px;
  box-shadow: 5px 10px;
}

/* ~~~~~~~~~~ Summary Styling ~~~~~~~~~~ */

.summary .details {
  display: flex;
}
.summary .title {
  padding: 0;
}
.summary .details img {
  margin-right: .5rem;
}
